@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
/* header */

.back-img {
  background-image: url(./img/image-header.jpg);
  height:100vh;
  background-position: center bottom;
}

.ham-ber{
    background-color:hsl(0, 0%, 100%);
    
}

/* header */

 /* section-3 */

.bg-img-1{
  background-image: url(./img/image-graphic-design.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top ;
}

.bg-img-2{
  background-image: url(./img/image-photography.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top ;
}

.text-color-1{
  color: hsl(167, 40%, 24%);
}

.text-color-2{
  color: hsl(198, 62%, 26%);
}

/* section-3 */

/* section-4 */



.heading{
  color: hsl(232, 10%, 55%);
}

/* /section-4 */

/* footer */
.footer-group{
  background-color: hsl(168, 34%, 41%);
  height: 30vh;
  color: hsl(167, 40%, 24%);
}
/* /footer */

