@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Barlow', sans-serif;
  scroll-behavior: smooth;
}


.back-img {
  background-image: url(./img/image-header.jpg);
  height:90vh;
  background-position: center bottom;
}

.ham-ber{
    background-color:hsl(0, 0%, 100%); 
}

.bg-img-1{
  background-image: url(./img/image-graphic-design.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top ;
}

.bg-img-2{
  background-image: url(./img/image-photography.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top ;
}

.text-color-1{
  color: hsl(167, 40%, 24%);
}

.text-color-2{
  color: hsl(198, 62%, 26%);
}


.heading{
  color: hsl(232, 10%, 55%);
}

.footer-group{
  background-color: hsl(168, 34%, 41%);
  height: 30vh;
  color: hsl(167, 40%, 24%);
}


